<h1>Welcome to GameEvents App :)</h1>

<% @meetings.each do |meeting| %>
  <h1><%= meeting.title %></h1>
  <h2><%= meeting.description %></h2>

  <p><%= meeting.venue %></p>
  <p><%= meeting.game_date %></p>

  <p><%= meeting.start_play_time %></p>
  <p><%= meeting.end_play_time %></p>
<% end %>
