<h1 class="text-center">Welcome to GameEvents App :)</h1>
<br /><br />
<div class="text-center">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont ,placeholder: 'Game Title' %>
    <%= f.search_field :description_cont ,placeholder: 'Game Description' %>
    <%= f.search_field :game_date_gteq ,placeholder: 'Game date' %>
    <br /> <br/>
    <div class="actions">
      <%= f.submit "search" %>
    </div>
  <% end %>
</div>
<br /> <br />
<div class="row">
  <% @meetings.each do |meeting| %>
    <div class="col-md-4">
        <div class="booyah-box col-xs-10 col-xs-offset-1">
          <h1><%= link_to meeting.title, meeting_path(meeting)%></h1>
          <h2><%= meeting.description %></h2>
          <p><%= meeting.game_date %></p>
          <p><%= meeting.start_play_time %></p>
          <p><%= meeting.end_play_time %></p>
          <h1><%= meeting.venue.address %></h1>
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=
          400x300&sensor=false&zoom=16&markers=#{meeting.venue.latitude}%2C#{meeting.venue.longitude}" %>
          <h1>Your select games list :)</h1>
          <% meeting.games.each do |mg|%>
              <h3><%= link_to mg.title, game_path(mg) %></h3>
          <% end %>
        </div>
      </div>
  <% end %>

</div>
