<div class="row">

    <div class="col-md-4">
        <div class="booyah-box col-xs-10 col-xs-offset-1">
          <h1><%= @meeting.title %></h1>
          <h2><%= @meeting.description %></h2>
          <p><%= @meeting.game_date %></p>
          <p><%= @meeting.start_play_time %></p>
          <p><%= @meeting.end_play_time %></p>
          <h1><%= @meeting.venue.address %></h1>
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=
          400x300&sensor=false&zoom=16&markers=#{@meeting.venue.latitude}%2C#{@meeting.venue.longitude}" %>
          <h1>Your Games list</h1>
        <% @meeting.games.each do |mg|%>
            <h3><%= link_to mg.title, game_path(mg) %></h3>
        <% end %>
        </div>
    </div>
</div>
